<!DOCTYPE html>
<html lang="ta">

<head>
  <% include partials/commonhead %>
  <meta property="og:url" content="http://pyntamil.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="PYNTAMIL" />
  <meta property="og:description" content="Kids reading books in tamil" />
  <meta property="og:image" content="http://pyntamil.com/images/logo.png" />
  <link rel="stylesheet" href="/stylesheets/multicarousel.css">
</head>

<body>
  <div class="body-wrapper">
    <% include partials/header %>
    <% include partials/stbutton %>
    <div class="body-content">
      <section id="book-header">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto">
              <h2 class="book-title">
                <%= book.name %>
              </h2>
              <p class="mb-0">
                <%= book.tagline %>
              </p>
              <p class="text-muted book-category mb-0">
                <%= book.category %>
              </p>
              <div class="row">
                <div class="col">
                  <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
                  <p class="text-muted rating-para">
                    <span class="score">Score:
                      <%= score %></span>
                    &nbsp; | &nbsp;
                    <span class="votes">
                      <%= book.ratings.length %> வாக்களிப்பு</span>
                  </p>
                </div>
              </div>
              <a href="/readbook/<%= book.id %>" class="btn kids-button" englishname="read-book-button">நூலினை
                படிக்கவும்</a>
            </div>
          </div>
        </div>
      </section>
      <section id="book-details">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="book-tile mx-auto bd">
                <div class="book-img">
                  <img src="/content/covers/<%= book.url_cover %>" alt="<%= book.name %>">
                </div>
                <div class="book-info">
                  <div class="left">நூலாக்கம்:
                    <%= book.author %>
                  </div>
                  <div class="right">வருடம்:
                    <%= book.year %>
                  </div>
                </div>
              </div>
              <div id="social">
                <a href="someurl.com/some-article" data-image="article-1.jpg" data-title="Article Title"
                  data-desc="Some description for this article" class="facebookBtn smGlobalBtn">
                  <i class="fab fa-facebook    "></i>
                </a>
                <a target="_blank" class="twitterBtn smGlobalBtn" href="">
                  <i class="fab fa-twitter    "></i>
                </a>
                <a target="_blank" class="tumblrBtn smGlobalBtn" href="#">
                  <i class="fab fa-tumblr    "></i>
                </a>
                <a target="_blank" class="pinterestBtn smGlobalBtn" href="#">
                  <i class="fab fa-pinterest-p    "></i>
                </a>
              </div>
            </div>
            <div class="col-md-8">
              <h3 class="redline left" englishname="about-the-book">புத்தகம் பற்றிய சிறுவுரை</h3>
              <div class="description-paragraph">
                <p>
                  <%= book.description %>
                </p>
                <div>மேலும் காண...</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% if (relatedBooks.length > 0) { %>
      <section id="related-books">
        <div class="container">
          <div class="row">
            <div class="col">
              <h3 class="redline" englishname="related-books">ஒத்த புத்தகங்கள்</h3>
            </div>
          </div>
          <div class="row">
            <div class="MultiCarousel" data-items="1,2,4,4" data-slide="1" id="MultiCarousel" data-interval="100">
              <div class="MultiCarousel-inner">
                <% for (var a = 0; a < relatedBooks.length; a++) { %>
                <div class="item">
                  <div class="book-tile">
                    <a href="/bookdetail/<%= relatedBooks[a].id %>" class="book-link" data-toggle="modal">
                      <!-- <div class="book-border"></div> -->
                      <div class="book-img">
                        <img src="/content/covers/<%= relatedBooks[a].url_cover %>" alt="<%= relatedBooks[a].name %>">
                      </div>
                      <div class="book-info">
                        <div class="left">நூலாக்கம்:
                          <%= relatedBooks[a].author %>
                        </div>
                        <div class="right">வருடம்:
                          <%= relatedBooks[a].year %>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <% } %>
              </div>
              <button class="btn btn-primary leftLst">
                <</button> <button class="btn btn-primary rightLst">>
              </button>
            </div>
          </div>
        </div>
      </section>
      <% } %>
    </div>

    <% include partials/footer %>
  </div>
  <% include partials/commonscripts %>
  <script src="/javascripts/multicarousel.js"></script>
  <script>
    var score = eval(<%- JSON.stringify(score) %>)
    var book = eval(<%- JSON.stringify(book) %>)
    var fullScore = Math.round(score)

    $(document).ready(function () {
      showHideButtons();
      fbInitialize();

      $('.facebookBtn').attr('href', 'http://pyntamil.com/bookdetail/' + book.id);
      $('.facebookBtn').attr('data-image', 'http://pyntamil.com/content/covers/' + book.url_cover);
      $('.facebookBtn').attr('data-title', "பைந்தமிழ்: " + book.name);
      $('.facebookBtn').attr('data-desc', book.description);

      $('.facebookBtn').click(function (e) {
        e.preventDefault();
        var elem = $(this);
        postToFeed(elem.data('title'), elem.data('desc'), elem.prop('href'), elem.data('image'));
        return false;
      });
      var twitterLink = href = "https://twitter.com/intent/tweet?url=" + window.location.href +
        "&text=PYNTAMIL - Read Book " + book.name;
      $('.twitterBtn').attr('href', twitterLink);

      var pinterestLink = "http://pinterest.com/pin/create/button/?url=" + window.location.href +
        "&media=" + window.location.origin + "/content/covers/" + book.url_cover +
        "&description=PYNTAMIL - Read Book " + book.name;
      $('.pinterestBtn.smGlobalBtn').attr('href', pinterestLink);

      var tumblrLink = "http://www.tumblr.com/share/link?url=https://www.pyntamil.herokuapp.com" +
        "&name=PYNTAMIL - Read Book " + book.name + "&description=" + book.tagline +
        "&content=" + "https://pyntamil.herokuapp.com/content/covers/en.jpg"
      $('.tumblrBtn.smGlobalBtn').attr('href', tumblrLink);
      var input = 'input[type="radio"][value="' + fullScore + '"]'
      $(input).prop('checked', true)

      $('.description-paragraph div').click(function (e) {
        e.preventDefault();
        if ($('.description-paragraph').css('height') == '100px') {
          $('.description-paragraph').css('height', 'unset');
          $('.description-paragraph div').text('சுருக்கிடவும்...');
        } else {
          $('.description-paragraph').css('height', '100px');
          $('.description-paragraph div').text('மேலும் காண...');
        }
      });

      $('label[title="text"]').click(function (e) {
        var stars = Number($(this).attr("for").charAt(4));
        var url = "/ratebook/" + book.id + "/" + stars;
        $.ajax({
          type: "post",
          url: url,
          success: function (response) {}
        });
      });

      $(window).resize(function () {
        showHideButtons();
      });
    });

    function showHideButtons() {
      const items = $('.MultiCarousel-inner .item').length;
      const width = $(window).width();

      if (items == 1) {
        $('.leftLst').addClass('d-none')
        $('.rightLst').addClass('d-none')
      } else if (items == 2) {
        if (width < 768) {
          $('.leftLst').removeClass('d-none')
          $('.rightLst').removeClass('d-none')
        } else {
          $('.leftLst').addClass('d-none')
          $('.rightLst').addClass('d-none')
        }
      } else if (items < 5) {
        if (width < 992) {
          $('.leftLst').removeClass('d-none')
          $('.rightLst').removeClass('d-none')
        } else {
          $('.leftLst').addClass('d-none')
          $('.rightLst').addClass('d-none')
        }
      } else if (items > 4) {
        $('.leftLst').removeClass('d-none')
        $('.rightLst').removeClass('d-none')
      }
    }

    function fbInitialize() {
      window.fbAsyncInit = function () {
        FB.init({
          appId: '1046186885592558',
          status: true,
          cookie: true,
          xfbml: true
        });
      };
      (function (d, debug) {
        var js, id = 'facebook-jssdk',
          ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
      }(document, /*debug*/ false));
    }

    
    function postToFeed(title, desc, url, image) {
        var obj = {
          method: 'feed',
          link: url,
          picture: 'http://pyntamil.com/content/covers/' + image,
          name: title,
          description: desc
        };

        function callback(response) {}
        FB.ui(obj, callback);
      }
  </script>
</body>

</html>