<!DOCTYPE html>
<html lang="ta">

<head>
  <% include partials/commonhead %>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="body-wrapper">
    <% include partials/header %>
    <% include partials/stbutton %>

    <div class="body-content">
      <section id="display-section">
        <div class="overlay"></div>
        <div class="container text-white">
          <div class="row">
            <div class="col">
              <div class="mb-4 text-center bom-title">
                <div class="bom-heading">
                  <i class="fas fa-star"></i> 
                  <span>
                    பைந்தமிழ்ச் சிறப்பு தேர்வு
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
             
            <div class="col-md-6 text-center">
              <a href="/bookdetail/<%= bom.id %>" class="bom-name" data-toggle="modal">
                <h2 class="mt-4"><%= bom.name %></h2>
              </a>
                <p class="bom-tagline"><%= bom.tagline %></p>
                <p class="lead book-description-main"><%= bom.description %></p>
            </div>
            <div class="col-md-6">
                <div class="book-tile m-auto bom">
                <a href="/bookdetail/<%= bom.id %>" class="book-link" data-toggle="modal">
                  <!-- <div class="book-border"></div> -->
                  <div class="book-img">
                    <img src="/content/covers/<%= bom.url_cover %>" alt="<%= bom.name %>">
                  </div>
                  <div class="book-info">
                    <div class="left">நூலாக்கம்: <%= bom.author %></div>
                    <div class="right">வருடம்: <%= bom.year %></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="all-section">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h2 class="section-header redline" englishname="all-books">பைந்தமிழ்ப் பரண்</h2>
            </div>
          </div>
          <div class="row mt-4">
              <% for (var a = 0; a < books.length; a++) { %>
            <div class="col-md-3 col-sm-6">
              <div class="book-tile mx-auto mb-4">
                <a href="/bookdetail/<%= books[a].id %>" class="book-link" data-toggle="modal">
                  <!-- <div class="book-border"></div> -->
                  <div class="book-img">
                    <img src="/content/covers/<%= books[a].url_cover %>" alt="<%= books[a].name %>">
                  </div>
                  <div class="book-info">
                    <div class="left">நூலாக்கம்: <%= books[a].author %></div>
                    <div class="right">வருடம்: <%= books[a].year %></div>
                  </div>
                </a>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </section>
    </div>
    <% include partials/footer %>
  </div>
  <% include partials/commonscripts %>
</body>

</html>